:root {
  --title-color: #2e2f42;
  --pr_brand-color: #4d5ae5;
  --text-color: #434455;
  --accent-color: #404bbf;
  --footer-color: #e7e9fc;
  --team-bgcolor: #f4f4fd;
  --wite-color: #fff;
  --btn-hover: #404bbf;
}

body {
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #fff;
}

/* reset */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* COMPONENTS====================================== */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.button {
  font-family: 'roboto', sans-serif;
  font-weight: 500;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--title-color);
}

.item-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--title-color);
}

/* COMPONENTS====================================== */

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.footer {
  background-color: var(--title-color);
}
.footer-text {
  color: var(--footer-color);
}

/* MENU ========================================= */

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  text-transform: uppercase;
  color: var(--pr_brand-color);
}

.nav-list .link {
  color: var(--accent-color);
}

/* ADDRESS =========================================== */

.contacts-item {
  font-style: normal;
  color: var(--text-color);
}

.contacts-item:hover,
.contacts-item:focus {
  color: var(--accent-color);
}

/* HERO ============================================== */

.hero {
  background-color: var(--title-color);
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  /* or 107% */
  text-align: center;
  /* letter-spacing: 0.02em; */
  color: #ffffff;
}

.hero-button {
  color: #ffffff;
  background: var(--pr_brand-color);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--btn-hover);
}

/* sections features ==========================*/

.features-text {
  color: var(--text-color);
}

/* SECTIONS WORK */

/* section Team ==============================================*/

.team {
  background-color: var(--team-bgcolor);
}
.team-text {
  color: var(--text-color);
}
.header-logo {
  color: var(--title-color);
}

.footer-logo {
  color: var(--team-bgcolor);
}

.features-text {
  color: var(--text-color);
}

/* Portfolio================================================ */

.filter-button {
  color: var(--pr_brand-color);
  background-color: var(--team-bgcolor);
  /* cursor: pointer; */
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: var(--wite-color);
  background-color: var(--accent-color);
}
.item-type {
  color: var(--text-color);
}
